<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="indexDao" name="indexDao" class="cn.cuilan.dao.IndexDaoImpl" scope="singleton"/>

    <bean id="indexService" name="indexService" class="cn.cuilan.service.IndexService" scope="prototype">
        <property name="indexDao" ref="indexDao"/>
    </bean>
</beans>